:root {
    --yellow: #FFD058;
    --golden: #EBB731;
    --green: #35BD7C;
    --red: #EF6161;
    --dark-blue: #1F4A89;
    --dark-hr: #2E3572;
    --ink: #121747;
    --grey: #c4c4c4;
    --grey-2: #888888;
    --light-grey: #888888;
    --light-blue-bg: #F5F7FF;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
@font-face {
    font-family: Automobile;
    src: url('../fonts/Automobile Contest.ttf');
}
@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio-Bold.ttf);
    font-weight: bold;
}

/*Open Sans*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

body, html {
    font-family: Open Sans;
    color: #333333;
}
a {
    text-decoration: none;
    color: unset;
}

.grid-md-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.text-green {
    color: var(--green);
}
.text-white {
    color: white !important;
}
.weight-600 {
    font-weight: 600;
}
.heri-container {
    width: 1140px;
    margin: 0 auto;
}
.heri-row {
    display: flex;
    flex-wrap: wrap;
}
.heri-row>.heri-col:not(.first-child) {
    margin-left: 24px;
}
.icon {
    display: inline-block;
}
.icon .nsy-icon {
    display: block;
}
.product__item img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-grid;
}

/*@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 300;
}*/

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.menu {
    background-color: transparent;
    margin-top: -5px;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 16px 24px;
    color: white;
    top: 0;
    width: 100%;
}
.menu-md {
    display: none;
}
.menu .menu-frame {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    /*padding: 25px 0px;*/
}
.menu .menu-item {
    float: left;
    list-style: none;
    /*border-right: 1px solid;*/
    text-align: center;
    text-transform: uppercase;
    color: #959595;
    cursor: pointer;
    padding: 8px 16px;
    position: relative;
}
.menu .menu-item a {
    color: white;
    text-transform: capitalize;
}
.menu .menu-item.active a {
    font-weight: bold;
}
.menu .menu-item a:hover {
    text-decoration: none;
}
.menu .menu-item:after, .menu .menu-item:after {
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.35s;
}
.menu .menu-item.active:after, .menu .menu-item:hover:after {
    width: 12px;
    left: 0;
}

.menu .menu-item:last-child {
    border-right: none;
}
.register-cart .cart {
    padding: 0 10px;
    cursor: pointer;
}
.register-cart .login button {
    padding: 0 16px;
    background-color: transparent;
    border: none;
    color: white;
}

.register-cart {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.register-button button {
    border: 1px solid white;
    background-color: #ffffff00;
    border-radius: 4px;
    color: white;
    padding: 11px 16px;
    transition: all 0.35s;
}
.register-button button:hover {
    background-color: #ffffff32;
}

.banner-text {
    position: absolute;
    top: 50%;
    /*transform: translateY(-50%);*/
    transform: translateY(100%);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    animation: slideup 3s;
    animation-fill-mode: forwards;
}
.insprite {
    color: var(--yellow);
    font-size: 48px;
    font-family: Antonio;
    left: 69px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.within {
    font-family: Automobile;
    font-size: 135px;
    color: white;
    text-transform: capitalize;
    line-height: 155px;
    margin-top: -63px;
}
.page-section-head {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 36px;
}
.page-section__title {
    font-family: 'Antonio';
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    color: var(--ink);
    letter-spacing: 0.04em;
    padding-bottom: 10px;
}

.page-section__comment {
    font-size: 13px;
    line-height: 20px;
    color: var(--light-grey);
}
.product__item {
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}
.product__content {
    padding: 24px;
}
.product__content__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: var(--dark-blue);
    margin-bottom: 7px
}
.product__content__rate {
    margin-bottom: 17px;
}
.product__list .icon {
    display: inline-block;
}
.col-md-4.product__list .tour-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.product__list .nsy-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}
.tour-info .info-item {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.tour-info .info-item .text {
    display: inline-block;
}

.tour-info .info-item .font-smaller {
    font-size: 14px;
}
.tour-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.text-detail {
    padding: 11px 9px;
    color: var(--ink);
    font-size: 13px;
}
.text-detail a {
    color: var(--ink);
    font-size: 13px;
    text-decoration: underline;
}

.golden-gradient-button {
    border-radius: 4px;
    background: linear-gradient(130.3deg, #CBA054 -5.64%, #FFE381 104.06%);
    color: var(--ink);
    border: none;
    padding: 11px 18px;
    font-weight: 600;
    line-height: 18px;
    opacity: 1;
    transition-duration: 0.2s;
    font-size: 13px;
}
.golden-gradient-button:hover {
    opacity: 0.8;
}
.best-selling-tour .explore {
    padding-bottom: 24px;
}
.explore a {
    display: inline-block;
    border: 1px solid var(--red);
    color: var(--red);
    background-color: transparent;
    text-decoration: none;
    padding: 21px 60px;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    margin: 40px auto;
    transition-duration: 0.5s;
}
.explore a:hover {
    border: 1px solid var(--red);
    color: var(--red);
    box-shadow: var(--box-shadow);
    text-decoration: none;
}
.best-selling-trip, .our-product-section {
    background-color: var(--light-blue-bg);
}
.col-md-3.product-list .product__content {
    padding: 16px 24px;
}
.col-md-3.product__list .product__image {
    height: 160px;
}
.col-md-3.product__list .tour-info .info-item {
    margin-bottom: 18px;
}
.col-md-3.product__list .tour-button button {
    padding: 11px 5px;
    font-size: 13px;
    width: 100%;
}
.col-md-3.product__list .tour-button .text-detail {
    padding: 11px 6px;
}

.quote-section {
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 128px 20px;
    color: white;
}
.home-quote {
    background-image: url('../images/app/bg-sunset.png');
}
.quote-section .mini-intro {
    line-height: 24px;
    color: white;
}
.quote-section .quote {
    font-style: italic;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    display: inline-flex;
    margin-top: 16px;
    color: white;
}
.quote-content {
    color: white;
}
.open-quote, .close-quote {
    width: 24px;
    height: 100%;
    background-image: url('../images/app/icon/ic_quote.svg');
    background-repeat: no-repeat;
}
.close-quote {
    transform: rotate(180deg);
}
.quote .quote-content {
    margin-top: 16px;
    margin-bottom: 16px;
}
.group-carousel {
/*    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;*/
    padding-bottom: 24px;
}
.feedback-section {
    padding-bottom: 58px;
}
.page-tesmonial .group-carousel__item {
    text-align: center;
    padding: 0 12px;
}
.page-tesmonial .group-carousel__item-image img {
    border-radius: 50%;
/*    width: 144px;
    height: 144px;*/
}
.group-carousel__item-title {
    color: var(--ink);
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 7px;
}
.group-carousel__item-dob {
    color: var(--grey-2);
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 13px;
}
.group-carousel__item-intro {
    font-size: 14px;
    line-height: 24px;
}
.slick-list {
    position: relative;
}
.slick-arrow {
    position: absolute;
    display: inline-flex;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    transition-duration: 0.5s;
}
.slick-arrow:hover {
    opacity: 1;
}
.slick-arrow__left {
    left: -90px;
}
.slick-arrow__right {
    right: -90px;
}
.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 34px;
    margin-bottom: 0;
}
.slick-dots li {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background: linear-gradient(130.3deg, #CBA054 -5.64%, #FFE381 104.06%);
    margin-left: 4px !important;
    margin-right: 4px !important;
    cursor: pointer;
    opacity: 0.3;
}
.slick-dots li.slick-active {
    opacity: 1;
}
.slick-dots button {
    display: none;
}
.carousel-indicators {
    position: relative !important;
}
/*.slick-prev {
    width: 40px;
    height: 40px
}*/
.carousel-control-next .nsy-icon, .carousel-control-prev .nsy-icon {
    width: 40px;
    height: 40px;
    color: transparent;

}
.product-cover {
    position: relative;
}
.product-cover img {
    width: 100%;
    border-radius: 4px;
}
.product-tour-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}
.product-tour-title div {
    color: white;
}
.product-tour-title .explore {
    margin-top: 31px;
    padding: 13px 36px;
    border-radius: 4px;
    border: 1px solid white;
    display: inline-block;
    font-size: 16px;
}
.page-product .product__item {
    margin-bottom: 24px;
}
.page-product .product__image {
    height: 120px;
    overflow: hidden;
}
.page-product .product__content {
    padding: 16px;
}
.page-product .product__content__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}
.page-product .product__item .nsy-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}
.page-product .product__content__rate {
    margin-bottom: 7px;
}
.page-product .tour-info {
    display: flex;
    justify-content: space-between;
}
.page-product .tour-info .info-item {
    font-size: 13px;
}
.product__item .product__image {
    display: inline-block;
}
.tour-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
}

.tour-grid-order {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: repeat(2, 1fr);
}
.tour-grid-order__item__list, .tour-grid__item__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.tour-item .product__item {
    margin-bottom: 0;
}
.plan-your-trip {
    background-image: url('../images/app/trip-bg.png');
}
.plan-your-trip h3 {
    font-size: 32px;
    color: white;
    font-family: Antonio;
    letter-spacing: 0.04em;
    font-weight: bold;
    line-height: 46px;
    margin-bottom: 10px;
}
.book-button.white-button {
    color: var(--ink);
    text-transform: uppercase;
    background-color: white;
    border-radius: 4px;
    padding: 21px 64px;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
}
.quote-section .book-button button {
    text-transform: uppercase;
}
.plan-your-trip .book-button {
    margin-top: 36px;
}
.travel-post__image {
    border-radius: 4px;
}
.travel-post__text h5, .travel-post__text h6 {
    color: var(--ink);
    font-weight: 600;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.travel-post__text .content {
    font-size: 14px;
    color: var(--black);
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.view-more {
    margin-top: 18px;
}
.view-more a, .view-more a:hover {
    text-decoration: underline;
    font-size: 13px;
    line-height: 18px;
    color: var(--ink);
}
.travel-post__highlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.travel-post__sample {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}
.travel-post .travel-post__text h5 {
    font-size: 24px;
}

.travel-post .travel-post__text h6 {
    font-size: 14px;
}
footer {
    background-color: var(--ink);
    padding-top: 64px;
    padding-bottom: 20px;
    color: white;
}
.footer-logo img {
    height: 64px;
    margin-bottom: 24px;
}
.footer-welcome {
    color: white;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 16px;
}
.sns-icon {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 16px;
}
.sns-icon img {
    width: 40px;
}
.term a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}
.term a:not(:first-child) {
    margin-left: 24px;
}
.term a:hover {
    color: white;
    text-decoration: underline;
}
.footer-title {
    color: var(--golden);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: Antonio;
    line-height: 24px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--yellow);
    height: 64px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
}
footer .link, footer .link:hover {
    text-decoration: underline;
    color: white;
}
.footer-form {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 16px;
    margin-top: 10px;
}
.footer-form input {
    padding: 11px 18px;
    border: none;
}
.copyright {
    border-top: 1px solid var(--dark-hr);
    text-align: center;
    margin-top: 64px;
    padding-top: 19px;
    font-size: 16px;
}
.back-to-top {
    position: fixed;
    transition: all 0.4s ease-in-out 0s;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}
footer .footer-shorten {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
footer .txt {
    font-size: 14px;
}
footer .address-tb {
    display: grid;
    grid-template-columns: 60px auto;
    grid-column-gap: 24px;
}


@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-multi .carousel-inner > .item {
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none!important;
  }
}


@keyframes slideup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}
